.footer {
    margin-top: 4vw; /* added by simeon*/
    background-color: #f7f3ee; /* Light background color */
    padding: 40px 20px; /* Padding for top section */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  .footer-content {
    display: flex;
    justify-content: space-around; /* Space between columns */
    width: 100%;
    max-width: 1200px; /* Max width for responsiveness */
    margin-bottom: 20px;
  }
  
  .footer-column {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: left;
  }
  
  .footer-column h3 {
    color: #4f1515; /* Dark red color for headings */
    margin-bottom: 10px;
  }
  
  .footer-column ul {
    list-style-type: none;
    padding: 0;
  }
  
  .footer-column li {
    margin-bottom: 5px;
  }
  
  .footer-column a {
    text-decoration: none;
    color: #8c5959; /* Dark red color for links */
    font-weight: normal;
  }
  
  .footer-column a:hover {
    text-decoration: underline;
  }
  
  .footer-bottom {
    background-color: #4f1515; /* Dark red background for bottom section */
    color: white;
    width: 100%;
    text-align: center;
    padding: 10px 0;
  }

  .footer-logo{
    display: flex;
    align-items: center;
    margin-bottom: 0.8rem;

  }
  .footer-logo a {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #4f1515;
    font-family: 'Times New Roman', Times, serif;
    font-size: medium;
    
  }

  .footer-image{
    height: 70px;
    width: auto;
    max-width: 100%;
}
  .footer-title h1 {
    margin-left: 1rem;
    font-size: 1.5rem;
    

}

@media (max-width: 650px) {

  .footer-title h1 {
    font-size: 1.4rem;
    

}
 
@media (max-width: 590px) {

  .footer-title h1 {
    /* font-size: 1.4rem; */
    display:none;

}
  .footer-image{
    height: 80px;
  
}
  
}

}