.art-card-full-container {
  padding-top: 2.5vw;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.art-card-link-styles {
  text-decoration: none;
  color: black;
}

.art-card-link-styles2 {
  text-decoration: none;
  color: grey;
}

.art-card-link-styles2:hover {
  color: red;
}

.art-card-full-wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 1.7em;
  background-color: white;
  border-radius: 0.5em;
  max-width: 900px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
  text-decoration: none;
  color: black;
  margin-bottom: 1em;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.art-card-full-wrapper:hover {
  transform: scale(1.03); 
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.6); 
}


.art-card-image {
  width: 100%;
  height: auto;
  object-fit: contain;
  margin-top: 0.5em;
  margin-bottom: 1em;
  /* border: 3px solid black; */
}

.art-card-heading {
  font-family: "Oswald", "Arial Narrow", Arial, sans-serif;
  font-size: 1.25em;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow-y: hidden;
}

.art-card-additional-data {
  padding: 0;
  margin: 0;
  list-style: none;
  font-family: "Oswald", "Arial Narrow", Arial, sans-serif;
  font-size: 0.9em;
  display: flex;
  
}

.art-card-date{
  display: -webkit-box;
  -webkit-line-clamp: 1;
  line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow-y: hidden;
  overflow-wrap: normal;
}

.art-card-additional-data li {
  margin-right: 1.4em;
}

.art-card-text {
  font-size: 1em;
  font-family: "Oswald", "Arial Narrow", Arial, sans-serif;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow-y: hidden;
}


.art-card-read-more-button {
  display: inline-block;
  width: max-content;
  margin-top: 1rem;
  padding-left: 0.8rem;
  padding-right: 0.8rem;
  padding-top: 0.2rem;
  padding-bottom: 0.2rem;
  font-size: 1rem; 
  color: #fff; 
  background-color: red; 
  border: none; 
  border-radius: 0.2rem; 
  text-align: start; 
  text-decoration: none; 
  cursor: pointer; 
  transition: background-color 0.3s ease, transform 0.2s ease; 
}


.art-card-read-more-button:hover {
  background-color: darkred; 
  transform: scale(1.05); 
}

.art-card-read-more-button:active {
  background-color: darkred; 
  transform: scale(0.98); 
}


.art-card-read-more-button:focus {
  outline: 2px solid darkred; 
  outline-offset: 2px; 
}