.rect-full-container{
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    /* align-items: flex-start; */
    /* width: 70%; */
    
   
}

.rect-full-wrapper{
    display: flex;
    flex-direction: column;
    padding-top: 3vw;
    padding-left: 5vw;
    /* padding-right: 15vw; */
    max-width: 700px;
    
}

.rect-image{
    width:100%;
    height: auto;
    object-fit: contain;
}



.rect-heading{
    font-family: 'Times New Roman', Times, serif;
    font-size: clamp(12px,7vw,35px);
    margin: 0;
}
.rect-additional-data{
    padding: 0;
    margin: 0;
    list-style: none;
    margin-bottom: 3vw;
    display: flex;
    font-family: 'Times New Roman', Times, serif;
    font-size: clamp(6px,5vw,20px);
}

.rect-additional-data li{
    margin-right: 3vw;
}

.rect-additional-data li a{
    color: gray;
    text-decoration: none;
    
}


.author-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    min-height: 100%; 
    background: linear-gradient(135deg, #f0f0f0, #e0e0e0); 
    border: 2px solid #d0bfa3; 
    border-radius: 15px;
    padding: 15px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    margin-top: 2vw; 
}

.author-image {
    width: 15%;
    height: auto;
    border-radius: 50%;
    margin-right: 20px; 
    border: 3px solid #d0bfa3;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); 
}

.author-name,
.publication-date {
    margin: 0;
    font-size: 1.2em; 
    font-family: 'Courier New', Courier, monospace;
    color: #333; 
}

.author-details {
    display: flex;
    flex-direction: column; 
    align-items: flex-start; 
}