.rect-art-card-full-container {
    padding-top: 2.5vw;
    width: 100%;
    display: flex;
    flex-direction: column;
}
  


.rect-art-card-full-wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 1em;
    background-color: white;
    border-radius: 0.5em;
    max-width: 900px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
    text-decoration: none;
    color: black;
    margin-bottom: 0.5em;
}
.rect-art-card-link-styles {
    text-decoration: none;
    color: black;
}
  


.rect-art-card-image {
    width: 100%;
    height: auto;
    object-fit: contain;
    max-width: 100%;
    margin-top: 0.5em;
    margin-bottom: 1em;
}
  


.rect-art-card-heading {
    font-family: "Oswald", "Arial Narrow", Arial, sans-serif;
    font-size: 1.75em;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow-y: hidden;
}
  


.rect-art-card-additional-data {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    font-family: "Oswald", "Arial Narrow", Arial, sans-serif;
    font-size: 1em;
}
.rect-art-card-additional-data li {
    margin-right: 1.5em;
}
.rect-art-card-date{
    display: -webkit-box;
    -webkit-line-clamp: 1;
    line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow-y: hidden;
    overflow-wrap: normal;
}



.rect-art-card-text {
    font-size: 1.15em;
    font-family: "Oswald", "Arial Narrow", Arial, sans-serif;
}

  

/* Comment - Section */
  
.rect-author-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    min-height: 100%;
    background: linear-gradient(135deg, #f0f0f0, #e0e0e0);
    border: 2px solid #d0bfa3;
    border-radius: 15px;
    padding: 1em;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    margin-top: 1.5em;
}
  

.rect-author-image {
    width: 15%;
    height: auto;
    border-radius: 50%;
    margin-right: 1.5em;
    border: 3px solid #d0bfa3;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
}
  

.rect-author-name,
.rect-publication-date {
    margin: 0;
    font-size: 1em;
    font-family: 'Courier New', Courier, monospace;
    color: #333;
}
  


.rect-author-details {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

  
.rect-comment-section {
    margin-top: 1.5em;
    display: flex;
    flex-direction: column;
    gap: 0.625em;
}


.rect-comment-reply-title {
    font-size: 1.75em;
}
  

.rect-comment-textarea {
    width: 100%;
    height: 100%;
    padding: 0.625em;
    font-size: 1.25em;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
    box-sizing: border-box;
    transition: border-color 0.3s;
}
  

.rect-comment-input-group {
    display: flex;
    gap: 0.625em;
    flex-wrap: wrap;
    height: 100%;
}
  
  
.rect-comment-input {
    width: calc(50% - 5px);
    padding: 0.625em;
    font-size: 1.25em;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: none;
}
  
.rect-comment-submit-btn {
    padding: 0.625em 1.25em;
    font-size: 0.875em;
    border: none;
    background-color: #007bff;
    color: white;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}
  
.rect-comment-submit-btn:hover {
    background-color: #0056b3;
}
  
@media (max-width: 768px) {
    .rect-comment-input {
      width: 100%;
    }
  
    .rect-comment-textarea {
      padding: 0.5em;
    }
}
  
@media (max-width: 480px) {
    .rect-art-card-text {
        max-height: calc(1.21em * 20);
        overflow-y: auto;
        padding-right: 0.15em; 
    }

    .rect-comment-textarea {
      padding: 0.5em;
    }
  
    .rect-comment-submit-btn {
      padding: 0.5em 1em;
    }

    
}

@media (max-width: 480px) {
    .rect-art-card-text {
        max-height: calc(1.21em * 15);
        overflow-y: auto;
        padding-right: 0.15em; 
    }

}



  
  