.ImageCardBackground {
  max-width: 296.5px;
  height: 500px;
  width: 100%;
  flex-shrink: 1;
  flex-grow: 0;
  flex-basis: 0;
  object-fit: inherit;
  display: block;
}
.ImageCardCategory {
  font-size: calc(15 / 16) rem;
}
.ImageCardTextContainer {
  display: flex;
  text-align: center;
  flex-direction: column;
  position: absolute;
  bottom: 0px;
  height: 40%;
  background-color: hsl(0deg 0% 0% / 30%);
  justify-content: center;
  overflow-wrap: break-word;
}

.ImageCardContainer {
  font-family: Oswald, "Arial Narrow", Arial, sans-serif;
  color: white;
  position: relative;
}
