.heading-and-line-wrapper {
    text-align: center;
    padding: 1.25rem; 
    border: 0.1rem solid #ccc;
    border-radius: 0.3rem; 
    margin: 0 auto;
    background-color: rgb(129, 143, 180);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    box-sizing: border-box;
}

.heading-and-line-widget-heading {
    background-color:  #363062;
    color: white;
    font-size: 1rem;
    padding: 0.625rem 1.25rem;
    margin-bottom: 0.9375rem;
    display: inline-block;
    border-radius: 0.2rem;
    white-space: normal;
    width: 100%;
    text-align: center;
}

.heading-and-line-widget-text {
    font-size: 0.875rem;
    color: #333;
    white-space: normal;
    display: block;
    overflow: visible;
    width: 100%;
    text-align: center;
}







