.article-page-author-name{
  text-align: center;
  margin-top: 2rem;
  text-transform: uppercase;
  font-family: monospace, 'Courier New', Courier ;
  font-size: 0.8rem;

}

.main {
  display: flex;
  flex-direction: column;
}

.content {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  background-color: white;
  
}

.wrapper{
  display: flex;
  align-items: flex-start;
  justify-content: center;
  width: 90%;

}
.wrapper2 {
  display: grid;
  grid-template-columns: 1.8fr 1fr;
  justify-content: center;
}


.article{
  margin-left: 1rem;
  margin-right: 1rem;
  margin-bottom: 3rem;
}

aside {
    margin-top: 2.5vw;
    margin-left: 1rem;
    margin-right: 1rem;
    background-color: white;
    color: rgb(32, 31, 31);
    height: auto;
    
}

@media (max-width: 660px) {
  .wrapper2{
    display: block;
  }
  .wrapper{
    width: 95%;
  }
}

@media (max-width: 425px) {
  .wrapper{
    width: 99.85%;
  }
}

