.feedback-form-container form {
    margin: 0 auto;
    padding: 0.625rem 1.25rem;
    border: 1px solid #ccc;
    border-radius: 0.3125rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    max-width: 400px;
}

.feedback-form-field {
    margin-bottom: 0.9375rem;
}

.feedback-form-field-name h2 {
    font-size: 1.3rem;
}

.feedback-form-field label {
    display: block;
    margin-bottom: 0.3125rem;
    font-size: 1rem;
    color: #333;
}

.feedback-form-name-input,
.feedback-form-email-input,
.feedback-form-feedback-input {
    width: 100%;
    padding: 0.625rem 1.25rem;
    font-size: 0.875rem;
    border: 1px solid #ccc;
    border-radius: 0.2rem;
    box-sizing: border-box;
}

.feedback-form-feedback-input {
    resize: vertical;
    min-height: 100px;
}

.feedback-form-submit {
    width: 100%;
    padding: 0.625rem 1.25rem;
    font-size: 0.875rem;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 0.2rem;
    cursor: pointer;
    text-transform: uppercase;
}

.feedback-form-submit:hover {
    background-color: #555;
}

.popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6); /* Background overlay */
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .popup-inner {
    background: #fff;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    width: 300px;
  }
  
  .popup h3 {
    margin-top: 0;
  }
  
  .popup-close {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    margin-top: 20px;
    border-radius: 5px;
  }
  
  .popup-close:hover {
    background-color: #45a049;
  }
  