.About_us-heading {
    text-align : center;
    margin-top: 20pt;
}
.About_us-para {
    margin-left: 25%;
    margin-right: 25%;
    margin-top: 20pt;
    padding-left: 0.0pt;
    text-align: left;
    text-indent: 0.0pt;
}

.About_us-textspan {
    font-family: Roboto,Arial;
    font-size: 13.0pt;
    font-style: normal;
    font-weight: 400;
    text-decoration: none;
    vertical-align: baseline;
}

.About_us-namespan {
    background-color: beige;
    font-family: 'Source Code Pro',Arial;
    font-size: 13.0pt;
    font-style: normal;
    font-weight: 400;
    text-decoration: none;
    vertical-align: baseline;
}

h2{
    margin-top: 30pt;
    margin-bottom: 20px;
    text-align: center;
}

.About_us-center {
    text-align: center;
    margin-left: 25%;
}

.download-link {
    margin-left: 25%;
    display: inline-block;
    background-color: #169cda;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    margin-bottom: 20px;
    font-weight: bold;
  }
  
  .download-link:hover {
    background-color: #1bb0f5;
  }
