/* General Navbar Styles */
.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: #078189;
  position: sticky;
  top: 0;
  z-index: 1000;
  transition: all 0.8s ease;
  height: 85px;
}

.navbar-logo {
  display: flex;
  align-items: center;
  padding: 8px 20px;
  transition: all 0.6s ease;
  background-color: #48a6a7;
  border-radius: 10px;
  transition: background-color 0.5s ease;
}

.navbar-logo:has(a:hover) {
  background-color: #04c1ce;
}

.navbar-logo a {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: black;
  transition: color 0.1s ease;
}

.navbar-logo a:hover {
  color: black;
}

.navbar-logo div h1 {
  margin-left: 1rem;
  font-family: 'Times New Roman', Times, serif;
  font-size: 1.2rem;
}

.navbar-image {
  height: 40px;
  width: auto;
  max-width: 100%;
  transition: all 0.6s ease;
}

.navbar-title {
  margin-left: 0.5rem;
  font-family: 'Times New Roman', Times, serif;
  transition: all 0.6s ease;
}

.navbar-title.small-title {
  font-size: 0.7rem;
}

.navbar-menu {
  width: 100%;
  transition: all 0.6s ease;
}

.navbar-links {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  justify-content: center;
}

.navbar-links li {
  margin: 0;
  padding-right: 15px;
  padding-left: 15px;
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
}

.navbar-link {
  color: black;
  text-decoration: none;
  font-family: Tahoma, Arial, sans-serif;
  font-size: medium;
  font-weight: bold;
  padding: 10px 15px;
  border-radius: 4px;
  background-color: #48a6a7;
  transition: background-color 0.5s ease, color 0.1s ease;
  border: none;
  display: flex;
  align-items: center;
}

.navbar-link:hover {
  background-color: #04c1ce;
}

/* Mobile Menu Styles */
.navbar-toggle {
  display: none;
  background: none;
  border: none;
  color: white;
  font-size: 28px;
  cursor: pointer;
  flex: 1;
}

.navbar-toggle-icon {
  display: inline-block;
}

@media (max-width: 768px) {
  .navbar {
    flex-direction: row;
    justify-content: space-between;
    padding: 5px 20px;
    height: 80px;
    transition: none;
  }

  .navbar-logo {
    margin-bottom: 0;
    transition: none;
  }

  .navbar-image {
    height: 40px;
    transition: none;
  }

  .navbar-title {
    font-size: 0.7rem;
    transition: none;
  }

  .navbar-links {
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: none;
    width: 100%;
  }

  .navbar-links li{
    padding-left: 0;
    padding-right: 0;
  }

  .navbar-link {
    margin-left: 0;
    width: 100%;
    border-radius: 0px;
  }

  .navbar-menu {
    display: none;
    position: absolute;
    top: 80px; /* <-- Increased from 60px */
    right: 0;
    background-color:rgba(72, 166, 167,0.9);
    width: 100%;
    flex-direction: column;
    align-items: center;
    transition: none;
  }

  .navbar-menu.active {
    display: flex;
  }

  .navbar-toggle {
    display: block;
  }

}