.Byte-full-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}
  

.Byte-full-wrapper{
    display: flex;
    flex-direction: column;
    width: 100%;
}

.Byte-full-wrapper img{
    height: 60vh;
    object-fit: cover;

}