/* General Navbar Styles */
.navbar {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 20px;
  background-color: rgba(5, 1, 1, 0.75);
  position: sticky;
  top: 0; 
  z-index: 1000;
  transition: all 0.8 ease;
  height: 101px;
}
.navbar.scrolled {
  padding: 5px 20px; /* Reduce padding when scrolled */
  flex-direction: row;
  justify-content: space-between;
  height: 60px;
}

.navbar-logo {
  display: flex;
  align-items: center;
  margin-bottom: 0.8rem;
  transition: all 0.6s ease;
}

.navbar-logo a {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: white
}

.navbar-logo div h1{
  margin-left: 1rem;
  font-family:'Times New Roman', Times, serif;
  font-size: 1.2rem;
}

.navbar-image {
  height: 50px;
  width: auto;
  max-width: 100%;
  transition: all 0.6s ease;
}
.navbar-image.small {
  height: 40px; /* Reduced size when scrolled */
}
.navbar-title {
  margin-left: 1rem;
  font-family: 'Times New Roman', Times, serif;
  transition: all 0.6s ease;
}
.navbar-title.small-title {
  font-size: 0.7rem; /* Shrink title when scrolled */
}
.navbar-menu {
  width: 100%;
  transition: all 0.6s ease;
  
}

.navbar-links {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  justify-content: center;
  
}

.navbar-links li {
  margin: 0;
  padding: 0;
  position: relative;
  display: flex;
  align-items: center;
}

.navbar-link {
  color: #fff;
  text-decoration: none;
  font-family: Tahoma, Arial, sans-serif;
  font-size: 15px;
  padding: 10px 15px;
  border-radius: 4px;
  transition: background-color 0.3s, color 0.3s;
  background-color: transparent;
  border: none;
  display: flex;
  align-items: center;
}

.navbar-link:hover {
  background-color: #900603;
  color: #fff;
}

.navbar-link.active {
  background-color: #eab5a7;
  color: #900603;
}

/* Dropdown Menu Styles */
.dropdown {
  position: relative;
}

.dropdown-menu {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: rgba(5, 1, 1, 0.75);
  list-style: none;
  padding: 0;
  margin: 0;
  border-radius: 4px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.2);
}

.dropdown-menu.show {
  display: block;
}

.dropdown-menu li {
  margin: 0;
}

.dropdown-menu .navbar-link {
  display: block;
  padding: 10px 15px;
  color: #fff;
  background-color: transparent;
  border: none;
  text-align: left;
  width: 100%;
}

.dropdown-menu .navbar-link:hover {
  background-color: #900603;
  color: #fff;
  width: 100%;
}

/* ------------------ */
/* Changes for Submenu */
/* ------------------ */
/* .dropdown-menu li .dropdown {
  position: relative;
} */

.dropdown-menu li .dropdown-menu {
  top: 100%;
  left: 100%;
  border-radius: 4px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  display: none;
}

.dropdown-menu li:hover > .dropdown-menu {
  display: flex; /* Show submenu on hover */
  flex-direction: row;
}

/* Align the submenu's display */
.dropdown-menu li:hover > .dropdown-menu.show {
  display: block;
}

/* Style submenu links */
.dropdown-menu li .dropdown-menu .navbar-link {
  padding: 10px 15px;
  white-space: nowrap; /* Prevents text wrapping */
  top:100%;
}

.dropdown-menu li .dropdown-menu .navbar-link:hover {
  background-color: #900603;
  color: #fff;
}

/* ------------------- */
/* Mobile Menu Styles */
/* ------------------- */
.navbar-toggle {
  display: none;
  background: none;
  border: none;
  color: white;
  font-size: 28px;
  cursor: pointer;
  flex: 1;
}

.navbar-toggle-icon {
  display: inline-block;
}

@media (max-width: 768px) {
  .navbar{
    flex-direction: row;
    justify-content: space-between;
    padding: 5px 20px;
    transition: none;
    height: 60px; 
  }
  .navbar-logo {
    margin-bottom: 0; /* Remove bottom margin for mobile */
    transition: none;
  }
  .navbar-image {
    height: 40px; /* Always small logo on mobile */
    transition: none; /* Disable transition on mobile */
  }

  .navbar-title {
    font-size: 0.7rem; /* Smaller title on mobile */
    transition: none; /* No transition on mobile */
  }

  .navbar-links {
    flex-direction: column;
    align-items: center;
    transition: none;
  }
  .navbar-menu {
    display: none;
    position: absolute;
    top: 60px;
    right: 0;
    background-color: rgba(5, 1, 1, 0.90);
    width: 100%;
    flex-direction: column;
    align-items: center;
    transition: none;
  }

  .navbar-menu.active {
    display: flex;
  }

  .navbar-toggle {
    display: block;
  }

  /* Adjust dropdown menu for mobile */
  .dropdown-menu {
    position: relative;
    width: 100%;
    top: 100%;
    left: auto;
  }

  .dropdown-menu.show {
    display: block;
  }

  .dropdown-menu li .dropdown-menu {
    position: relative;
    top: 100%;
    left: auto;
  }

  .dropdown-menu li:hover > .dropdown-menu {
    display: none;
  }

  .dropdown-menu li .dropdown-menu.show {
    display: block;
  }
}
