.widget_text {
    text-align: center;
    padding: clamp(0px, 1.25vw, 20px);
    border: 0.1vw solid #ccc;
    border-radius: clamp(2px, 0.3vw, 5px);
    margin: 0 auto;
    background-color: #fff;
}

.widget-title {
    background-color: #800000;
    color: #fff;
    font-size: clamp(0px, 1vw, 16px); 
    padding: clamp(0px, 0.625vw, 10px) clamp(10px, 1.25vw, 20px); 
    margin: 0 0 clamp(0px, 0.9375vw, 15px); 
    display: inline-block;
    border-radius: clamp(0px, 0.2vw, 3px); 
}

.textwidget {
    font-size: clamp(0px, 0.875vw, 14px); 
    color: #333;
}

