.heading-and-line-wrapper {
    text-align: center;
    padding: 1.25rem; /* Equivalent to 20px */
    border: 0.1rem solid #ccc; /* Equivalent to 1.6px */
    border-radius: 0.3rem; /* Equivalent to 5px */
    margin: 0 auto;
    background-color: #fff;
    display: flex; 
    flex-direction: column; 
    justify-content: center;
    align-items: center;
    width: 100%; /* Ensures full width on smaller screens */
    box-sizing: border-box; /* Prevents padding from adding to the width */
}

.heading-and-line-widget-heading {
    background-color: #b90000;
    color: #fff;
    font-size: 1rem; /* Equivalent to 16px */
    padding: 0.625rem 1.25rem; /* Equivalent to 10px 20px */
    margin-bottom: 0.9375rem; /* Equivalent to 15px */
    display: inline-block;
    border-radius: 0.2rem; /* Equivalent to 3px */
    white-space: normal; /* Allow text wrapping */
    width: 100%; /* Full width for responsiveness */
    text-align: center; /* Center text inside */
}


.heading-and-line-widget-text {
    font-size: 0.875rem; /* Equivalent to 14px */
    color: #333;
    white-space: normal; /* Allow text wrapping */
    display: block; /* Make the element responsive */
    overflow: visible; /* Let the text be fully visible */
    width: 100%; /* Full width to prevent overflow */
    text-align: center; /* Center the text */
}

/* .heading-and-line-widget-text:hover {
    background-color: darkred; 
    transform: scale(1.05); 
}
  
.heading-and-line-widget-text:active {
    background-color: darkred; 
    transform: scale(0.98); 
} */





