body {
    font-family: Arial, sans-serif;
}

/* Widget Styles */
.recent-posts-0 {
    text-align: center;
    padding: clamp(0px, 1.25vw, 20px);
    /* width: 18.75rem;  */
    border: 0.0625rem solid #ccc; /* 1px */
    border-radius: clamp(2px, 0.3vw, 5px);
    /* border-radius: 0.3125rem;  */
    /* padding: 1.25rem; */
    background-color: #fff;
}

.widget-title {
    background-color: #b90000;
    color: #fff;
    text-align: center;
    font-size: clamp(0px, 1vw, 16px);
    /* padding: 0.625rem; */
    padding: clamp(0px, 0.625vw, 10px) clamp(10px, 1.25vw, 20px);
    /* margin: 0 0 0.625rem 0; */
    margin: 0 0 clamp(0px, 0.9375vw, 15px);
    display: inline-block;
    border-radius: clamp(0px, 0.2vw, 3px);
}

/* Post List Styles */
.recent-posts {
    list-style: none;
    padding: 0;
    margin: 0;
}

.recent-post-media {
    display: flex;
    align-items: flex-start;
    margin-bottom: 0.9375rem; /* 15px */
}

.recent-post-image img {
    width: 3.75rem; /* 60px */
    height: 3.75rem; /* 60px */
    object-fit: cover;
    margin-right: 0.625rem; /* 10px */
    border-radius: 0.25rem; /* 4px */
}

.media-body {
    display: flex;
    flex-direction: column;
}

.recent-post-title {
    margin: 0;
    /* font-size: 0.875rem; */
    font-size: clamp(0px, 0.875vw, 14px);
}

.recent-post-title a {
    text-decoration: none;
    color: #333;
}

.recent-post-title a:hover {
    text-decoration: underline;
}

.post-date {
    /* font-size: 0.75rem; */
    font-size: clamp(0px, 0.875vw, 14px);
    color: #999;
}
