.main {
  display: flex;
  flex-direction: column;
}

.content {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  background-color: white;
}

.wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

/* .wrapper2{
  display: grid;
  grid-template-columns: 1.8fr 1fr;
} */


aside {
    margin-left: 1rem;
    background-color: white;
    color: rgb(32, 31, 31);
    height: auto;
    
}

