.socials-wrapper {
  text-align: center;
  padding: 1.25rem;
  border: 0.1rem solid #ccc;
  border-radius: 0.3rem;
  margin: 0 auto;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  box-sizing: border-box;
}

.socials-widget-heading {
  background-color: #b90000;
  color: #fff;
  font-size: 1rem;
  padding: 0.625rem 1.25rem;
  margin-bottom: 0.9375rem;
  display: inline-block;
  border-radius: 0.2rem;
  white-space: normal;
  width: 100%;
  text-align: center;
}

.socials-list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
  box-sizing: border-box;
}

.socials-item {
  display: inline-block;
  margin-right: 0.625rem;
  margin-bottom: 0.625rem;
}

.socials-item:last-child {
  margin-right: 0;
}

.socials-item a {
  text-decoration: none;
  color: #333;
  display: inline-block;
  font-size: 2rem;
  padding: 0.5rem;
}

.socials-item a:hover {
  color: #666;
}

.fa-instagram {
  color: #e1306c;
}

.fa-facebook {
  color: #3b5998;
}

.fa-linkedin {
  color: #0077b5;
}
