.feedback-form-container form {
    margin: 0 auto;
    padding: 0.625rem 1.25rem; /* 10px 20px */
    border: 1px solid #ccc;
    border-radius: 0.3125rem; /* 5px */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    max-width: 400px;
}

.feedback-form-field {
    margin-bottom: 0.9375rem; /* 15px */
}

.feedback-form-field-name h2{
    font-size: 1.3rem;
}

.feedback-form-field label {
    display: block;
    margin-bottom: 0.3125rem; /* 5px */
    font-size: 1rem; /* 16px */
    color: #333;
}

.feedback-form-name-input,
.feedback-form-email-input,
.feedback-form-feedback-input {
    width: 100%;
    padding: 0.625rem 1.25rem; /* 10px 20px */
    font-size: 0.875rem; /* 14px */
    border: 1px solid #ccc;
    border-radius: 0.2rem; /* 3px */
    box-sizing: border-box;
}

/* Styling for the textarea (feedback field) */
.feedback-form-feedback-input {
    resize: vertical; /* Allow vertical resizing only */
    min-height: 100px;
}

.feedback-form-submit {
    width: 100%;
    padding: 0.625rem 1.25rem; /* 10px 20px */
    font-size: 0.875rem; /* 14px */
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 0.2rem; /* 3px */
    cursor: pointer;
    text-transform: uppercase;
}

.feedback-form-submit:hover {
    background-color: #555;
}
