.ImageCardGroupRow {
  max-width: 80vw;
  max-height: 550px;
  margin-left: auto;
  margin-right: auto;
}

.ImageCardGroupContainer {
  width: 100vw;

}
element.style {
  margin-right: 0rem;
}

.swiper {
  height: 100%;
}
.swiper:hover .swiper-button-next {
  opacity: 100%;
}
.swiper:hover .swiper-button-prev {
  opacity: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
  width: 296.5px;
}
.swiper-slide {
  height: auto; /* Let it adapt to the content */
  min-height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: height 0.3s ease;
}

/* For large desktop screens */
@media (min-width: 1440px) {
  .swiper-slide {
    min-height: 500px; /* More spacious height for large screens */
  }
}

/* For desktops and laptops */
@media (min-width: 1024px) and (max-width: 1440px) {
  .swiper-slide {
    min-height: 450px; /* Moderate height for desktops */
  }
}

/* For tablets and smaller laptops */
@media (min-width: 768px) and (max-width: 1024px) {
  .swiper-slide {
    min-height: 400px; /* Comfortable height for tablets */
  }
}

/* For mobile landscape and large phones */
@media (min-width: 480px) and (max-width: 768px) {
  .swiper-slide {
    min-height: 300px; /* Adjust height for smaller devices */
  }
}

/* For small mobile screens */
@media (max-width: 480px) {
  .swiper-slide {
    min-height: 250px; /* Compact height for small mobile screens */
  }
}

.swiper-button-next,
.swiper-button-prev {
  opacity: 0%;
  transition: opacity 0.2s ease;
  color: white;
  background-color: #000000;
  transform: translateY(-32px);
  padding: 0px;
  width: 35.6px;
  height: 65px;
  margin: 0px;
  border-radius: 4px;
}
.swiper-button-next {
  margin-right: 30px;
  position: absolute;
}
.swiper-button-prev {
  margin-left: 30px;
}
.swiper-button-next::after,
.swiper-button-prev::after {
  content: "";
}
