.ImageCardGroupContainer {
  padding-top: 2rem;
  align-items: center;
  width: 100vw;
  background-color: #dbd6ff;
  padding-bottom: 2rem;
}

.ImageCardGroupRow {
  max-width: 85vw;
  max-height: 550px;
  margin-left: auto;
  margin-right: auto;
}

.swiper {
  height: 100%;
}

.swiper:hover .swiper-button-next {
  opacity: 100%;
}

.swiper:hover .swiper-button-prev {
  opacity: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 296.5px;

  height: auto; /* Let it adapt to the content */
  min-height: 400px;
  transition: height 0.3s ease;
}

/* For large desktop screens */
@media (min-width: 1440px) {
  .swiper-slide {
    min-height: 500px;
  }
}

/* For desktops and laptops */
@media (min-width: 1024px) and (max-width: 1439px) {
  .swiper-slide {
    min-height: 450px;
  }
}

/* For tablets and smaller laptops */
@media (min-width: 768px) and (max-width: 1023px) {
  .swiper-slide {
    min-height: 400px;
  }
}

/* For mobile landscape and large phones */
@media (min-width: 700px) and (max-width: 767px) {
  .swiper-slide {
    min-height: 300px;
  }
}

@media (min-width: 479px) and (max-width: 700px) {
  .swiper-slide {
    min-height: 10px;
  }
}

/* For small mobile screens */
@media (max-width: 479px) {
  .swiper-slide {
    min-height: 250px;
  }
}

.swiper-button-next,
.swiper-button-prev {
  opacity: 0%;
  transition: opacity 0.2s ease;
  color: white;
  background-color: #4a408e;
  transform: translateY(-32px);
  padding: 0;
  width: 35.6px;
  height: 65px;
  margin: 0;
  border-radius: 4px;
}

.swiper-button-next {
  margin-right: 30px;
  position: absolute;
}

.swiper-button-prev {
  margin-left: 30px;
}

.swiper-button-next::after,
.swiper-button-prev::after {
  content: "";
}
