.ImageCardContainer {
  color: white;
  position: relative;
  width: 100%; /* Ensure the card takes full width */
  height: 100%; /* Ensures that it inherits the Swiper slide height */
  max-width: 100%; /* Prevent overflow */
  display: flex;
  flex-direction: column;
}

.ImageCardBackground {
  width: 100%; /* Fill the width */
  height: 100%; /* Fill the height */
  object-fit: fill; /* Ensures the image covers the card without distortion */
  display: block;
  -webkit-user-select: none;
  user-select: none;
}

.ImageCardTextContainer {
  display: flex;
  text-align: center;
  flex-direction: column;
  position: absolute;
  bottom: 0px;
  height: 40%;
  width: 100%;
  background-color: hsla(223, 64%, 2%, 0.8);
  justify-content: center;
}

.ImageCardCategory {
  font-size: calc(0.9rem + 0.3vw); /* Responsive text size */
  font-family: "Oswald", sans-serif;
  -webkit-user-select: none;
  user-select: none;
}

.ImageCardDescription {
  font-family: "Oswald", "Arial Narrow", sans-serif;
  font-size: clamp(0.8rem, 2vw, 1.5rem); /* Responsive text size */
  font-weight: 300;
  overflow-wrap: break-word;
  -webkit-user-select: none;
  user-select: none;
}
